.App {
  text-align: center;
  min-height: 75vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.not-active { 
  pointer-events: none; 
  cursor: default; 
} 
.fondo-difuminado {
  width: 100%;
  height: 100%;
  place-items: center;
  position: relative;
  background-image: url('./imgs/375976-alexfas01.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
}
.fondo-difuminado::before {
  position: absolute;
  inset: 0;
  background-color: white;
  content: "";
  filter: opacity(0.5);
}
.relativo{
  position: relative;
}
.bg-inCa{
  background-color:rgb(255,255,255,0.7)
}